<a href="https://colab.research.google.com/github/jsroa15/KKBOX/blob/main/Transactions_data_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transactions data (UNDER CONSTRUCTION)

The main idea here is to explore the transactions dataset.

**Exploratory Data Analysis**

1.  Load data
2.  General statistics
3.  Data Visualization
4.  Data Cleaning
5.  Fixing formats

# **Exploratory Data Analysis**

# 1. Load Data

In [1]:
#Import

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
#Loading data

transactions=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/KKBOX/transactions.csv')

## 2. General Statistics

In [3]:
#Exploring dataset

transactions.head()

                                           msno  ...  is_cancel
0  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
1  AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=  ...          0
2  UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=  ...          0
3  M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=  ...          0
4  yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=  ...          0

[5 rows x 9 columns]

In [4]:
#Data types

transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21547746 entries, 0 to 21547745
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   msno                    object
 1   payment_method_id       int64
 2   payment_plan_days       int64
 3   plan_list_price         int64
 4   actual_amount_paid      int64
 5   is_auto_renew           int64
 6   transaction_date        int64
 7   membership_expire_date  int64
 8   is_cancel               int64
dtypes: int64(8), object(1)
memory usage: 1.4+ GB

Date features are with the wrong format and categorical features are with numeric formats.

In [5]:
#Shape and unique values
print('Shape of dataset: ',transactions.shape)

print('Amount of unique records: ',transactions.msno.nunique())

Shape of dataset:  (21547746, 9)
Amount of unique records:  2363626

We have duplicated records, which means that we have differente records for every customers. Let's explore one customer.

In [7]:
transactions[transactions['msno']=='YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=']

                                                  msno  ...  is_cancel
0         YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
753139    YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
1234428   YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
1917887   YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
1957479   YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
3482816   YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
5413134   YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
7106202   YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
7619099   YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
10161584  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
11469481  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
12185981  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
12486296  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
12754553  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
13638629  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
14619397  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
14817003  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
15245581  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
15543991  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
16446646  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
16736306  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
17714472  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
18599059  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
20238782  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0
20723879  YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=  ...          0

[25 rows x 9 columns]

In [ ]:
#Merging transactions range and df_transactions

df_transactions=df_transactions.merge(transactions_range,how='left')

#Export df_transactions

df_transactions.to_csv('/content/drive/MyDrive/Colab Notebooks/KKBOX/df_transactions.csv',index=False)